.row
  .span12
    %h3= product.name
.row
  - if product.photo_url
    .span5.view-larger-image
      %img{src:product.photo_url}
      = link_to "View Larger Image", product_path(product), class: "btn" if product.large_photo_url
  .span6
    = product.description.html_safe
    .row.container
      .span2
        = "<strong>Est. Value</strong>: #{number_to_currency product.base_value}".html_safe
      - if product.open?
        .span2
          = "<strong>Current Bid</strong>: #{number_to_currency(product.bids.highest.first.amount) if product.bids.highest.first}".html_safe
        .span1.bid-info
          = "<strong>Bids</strong>: #{product.bids.count}".html_safe
    - if product.open?
      - unless @bidder.blank?
        .row
          .span5
            = render "bids/form", product: product

      - unless @bidder.blank?
        .row
          .span6
            ="<strong>Bidding As</strong>: #{@bidder}".html_safe

      .row
        .span6
          %strong Bidding Closes:
          = product.close_on_formatted
          %span.hint= "(in #{time_ago_in_words(product.close_on, include_seconds: true)})"

    - elsif product.closed?
      .row
        .span3
          ="<strong>Bidding Closed On</strong>: #{product.close_on_formatted}".html_safe
      .row
        .span3
          %strong Final Bid Price:
          = number_to_currency product.highest_bid_amount
    -else
      .row
        .span6
          %strong Bidding Starts:
          = product.open_on_formatted
          %span.hint= "(in #{time_ago_in_words(product.open_on, include_seconds: true)})"
      .row
        .span6
          %strong Bidding Closes:
          = product.close_on_formatted
          %span.hint= "(in #{time_ago_in_words(product.close_on, include_seconds: true)})"