
.row
  .span12
    %p Welcome to Chabot Parent Club's Online Auction Website! This website will be used to auction items to support Chabot Teachers, The Chabot Musical, and other Chabot events and activities. Each category or item will explain how winnings will be used.
    %p
      Auction Procedures:
      %ul
        %li You MUST have a chabotparentsclub.org account to take part in an auction. Please note which email account you have used for this website, as that is the email notifications about bids and winnings will be sent to.
        %li Auctions have varied start and end dates. Please take note when you bid!
        %li You will receive an email confirming your bids and notifications when you get outbid. If you are the highest bidder, you will see a green banner stating so when you view the item.
        %li Winners will be contacted as soon as possible after the bidding closes. Payments for Musical Tickets must be received within 3 days. After 3 days, the next highest bidder will be offered the item. All other items have 5 days to be paid.
        %li Payments can be made via the chabotparentsclub.org, or via check to the office. An email will be sent to the winners listing winnings and instructions for payment.

    %p THANK YOU for supporting Chabot!!

- if current_user
  .row
    .span12
      %h3= "Current funds raised: #{Product.active.all.map{|p| p.highest_bid_amount}.sum}"

%hr
- if @bidder.blank?
  .row
    .span12
      .alert.alert-block.alert-error.fade.in
        %a.close.to-right{ data: {dismiss: 'alert'}, href: '#' }
          x
        %h4
          To bid on items, you need to log into the
          %a{href:"http://chabot.my-pta.org/Content.asp?PageID=20"} Chabot Parents Club website,
          hit the auction button and be redirected here.
.row
  .span12
    %ul.nav.nav-tabs
      - @categories.each do |category|
        - if category.products.active.count > 0
          %li{class:("active" if "##{category.name.gsub(" ","_")}" == @active_tab)}
            %a{href:"##{category.name.gsub(" ","_")}","data-toggle" =>"tab"}= category.name
    .tab-content
      - @categories.each do |category|
        .tab-pane{id:category.name.gsub(" ","_"), class:("active" if "##{category.name.gsub(" ","_")}" == @active_tab)}
          .row
            .span12
              %h4= category.description
          - category.products.active.order(:name).in_groups_of(2,false) do |product_group|
            .row
              - product_group.each do |product|
                .span12
                  .well
                    .row
                      .span12.product-container
                        = render "product_container", product:product